*{
    align-content: center;
}
li>a:link, li>a:visited {
    margin: 1rem 4vw;
    padding: 0 1vw;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    border-radius: 2rem;
    text-align: center;
}
a:hover, .picture:hover{
    background-color: #00e600;
}
li:not(:first-child){
    display: flex;
    justify-content: flex-end;
}
.active{
    background-color: rgb(239, 180, 65);
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
header, .picture, a {
    justify-content: space-between;
    background-color: #99ff99;
}
.picture{
    display: flex;
    margin: auto;
    width: 10%;
    order: 1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: fit-content;
    margin: auto auto;
}
b{
    vertical-align: middle;
}
@media only screen and (max-width: 600px) {
    li>a:link, li>a:visited {
        margin: 1rem 0;
        padding: 0 1vw;
        text-decoration: none;
        font-size: 20px;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        border-radius: unset;
        border: solid black;
    }
    li:not(:first-child){
        display: block;
        justify-content: unset;
    }
    ul, li{
        display: block;
        list-style: none;
        justify-content: space-around;
    }
    .picture{
        display: flex;
        width: 25%;
        height: auto;
        margin: 1rem auto auto;
    }
    nav{
        width: 100%;
        margin: auto auto;
    }
}