main{
    width: 65%;
    background-color: rgba(153, 255, 153, 0.5);
    margin: 0 auto;
    padding-bottom: 30rem;
    padding-top: 1rem;

}
html{
    background-image: url(./img/backgroundmaybe.jpg);
    background-size: cover;
    background-color: rgba(178, 178, 178, 0.6);
}
body{
    background-color: rgba(178, 178, 178, 0.6);
}
section{
    width: 80%;
    margin: auto;
    padding: 2rem 5rem;
    background-color: rgb(239, 180, 65);
    text-align: center;
    border-radius: 5rem;
}