.picturezombie{
    background-color: transparent;
    height: 15vw;
    transform: rotateY(180deg);
    margin-top: 1rem;
    margin-right: 2rem;
}
.classfirst, .classsecond{
    display: inline-flex;
    justify-content: space-between;
}
.textfirst, .textsecond{
    width: 90%;
    margin: auto 2rem;
}
h2{
    font-size: 20px;
    margin-bottom: 1rem;
}
.pictureplant{
    background-color: transparent;
    height: 20vw;
    transform: rotateY(180deg);
    margin-left: 2rem;
}