.standardsize{
    width: 33.3%;
}
.allclass{
    display: flex;
    margin: auto;
}
.standardsizeclass{
    width: 25%;
}
.wall{
    width: 42%;
}
.lily{
    width: 36%;
}
.cherry{
    width: 43%;
}
.chomp, .squash{
    width: 20%;
}
.tall, .wood, .jala{
    width: 14%;
}
.pump{
    width: 31%;
}
.mine{
    width: 30%;
}
.lines{
    display: inline-flex;
    justify-content: space-around;
    padding: 0;
    margin: 1rem;
}
p{
    width: 95%;
}
@media only screen and (max-width: 600px) {
    .lines{
        display: block;
    }
    .standardsize{
        width: 95%;
        margin: 1rem auto auto;
    }
}