.standardsize{
    width: 33.3%;
}
.allclass{
    display: flex;
    margin: auto;
}
.standardsizeclass{
    width: 30%;
}
.bucket{
    width: 28%;
}
.cone{
    width: 21%;
}
.pole{
    width: 52%;
}
.grave{
    width: 48%;
}
.lines{
    display: inline-flex;
    justify-content: space-around;
    padding: 0;
    margin: 1rem;
}
p{
    width: 95%;
}
@media only screen and (max-width: 600px) {
    .lines{
        display: block;
    }
    .standardsize{
        width: 95%;
        margin: 1rem auto auto;
    }
}